---
- name: Clone GitHub Repository
  git:
    repo: https://github.com/mazhrik/ansible_testing_app.git
    dest: /opt/django-app
    version: master  # Replace with your preferred branch or tag
    force : yes
  become: yes
- name: Install Python Dependencies
  pip:
    requirements: /opt/django-app/requirements.txt
  become: yes

