server {
    listen 80;
    server_name {{ django_app_domain }};

    location / {
        proxy_pass http://127.0.0.1:{{ django_app_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}

